[NameNode]
NN=hdpnn01.damla.local

[SecNameNode]
SNN=hdpjt01.damla.local

[JobTracker]
JT=hdpjt01.damla.local

[DataNodes]
DNList=hdpslave01.damla.local,hdpslave02.damla.local,hdpslave03.damla.local,hdpslave04.damla.local,hdpslave05.damla.local,hdpslave06.damla.local,hdpslave07.damla.local,hdpslave08.damla.local,hdpslave09.damla.local,hdpslave10.damla.local,hdpslave11.damla.local,hdpslave12.damla.local,hdpslave13.damla.local,hdpslave14.damla.local,hdpslave15.damla.local,hdpslave16.damla.local

[TaskTrackers]
TTList=TTitem1,TTitem2,TTitem3

[Java]
JavaPackage=jdk-7u21-linux-x64.rpm

[Hadoop]
Version=hadoop-1.1.2
DfsDataDir=dfsdatadir01,dfsdatadir02,dfsdatadir03,dfsdatadir04,dfsdatadir05,dfsdatadir06,dfsdatadir07,dfsdatadir08,dfsdatadir09,dfsdatadir10

